.root{
	-fx-background-color: #202020;
}

.stack-pane{
	-fx-max-width: 500;
	-fx-max-height: 500;
	-fx-alignment: center;
	-fx-background-color: #105080;
	-fx-background-radius: 10;
	-fx-padding: 10;
}